<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>LibreriaWEB</title>
</head>

<body>

    <main>
        <div id="contenedor">
            <div id="Formulario">
                <h1>Carga de Libro</h1>
                <form action="">
                    <div class="inputcarga">
                        <label for="isnb"></label>
                        <input id="isnb" type="number" placeholder="Ingrese isbn" required>
                    </div>
                    <div class="inputcarga">
                        <label for="titulo"></label>
                        <input id="titulo" type="text" placeholder="Ingrese titulo" required>
                    </div>
                    <div class="inputcarga">
                        <label for="anio"></label>
                        <input id="anio" type="number" placeholder="Ingrese año" required>
                    </div>
                    <div class="inputcarga">
                        <label for="ejemplares"></label>
                        <input id="ejemplares" type="number" placeholder="Ingrese ejemplares" required>
                    </div>
                    <div class="inputcarga">
                        <label for="ejemplaresPrestados"></label>
                        <input id="ejemplaresPrestados" type="number" placeholder="Ingrese ejemplares prestados"
                            required>
                    </div>
                    <div class="botones">
                        <button type="submit">Guardar</button>
                        <button type="reset">Reset</button>
                    </div>

                </form>

            </div>
            <div id="imagen">
                <img id="foto"
                    src="https://www.eleconomista.com.mx/__export/1618813105696/sites/eleconomista/img/2021/04/19/libros2.jpg_2118499843.jpg"
                    alt="libros">
            </div>
        </div>


    </main>

</body>

</html>